form {
    display: flex;
    flex-direction: column;
  }
  
  label, input, textarea {
    margin: 10px 0;
  }
  
  textarea {
    min-height: 100px;
  }
  
  button {
    align-self: flex-start;
  }
  

